.team-slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px 40px 40px;
    box-sizing: border-box;
  }
  
  .team-slider-track {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 16px;
    padding-bottom: 10px;
    scrollbar-width: none; /* Firefox */
  }
  
  .team-slider-track::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
  
  
  .player-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #f1f1f1;
  }
  
  .player-info {
    padding: 10px 16px;
    text-align: center;
  }
  
  .player-info h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
  }
  
  .position {
    color: #888;
    font-size: 14px;
    margin-top: 4px;
  }
  
  .number {
    font-size: 40px;
    font-weight: bold;
    color: #d1d1d1;
    margin-top: 10px;
  }

  

  
  .team-slider-btn {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }
  
  .team-slider-btn.left {
    right: 200px;
  }
  
  .team-slider-btn.right {
    right: 150px;
  }
  
  .team-slider-dots {
    display: flex;
    justify-content: start;
    margin-top: 16px;
    gap: 8px;
  }
  
  .team-dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }
  
  .team-slider-track {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 16px;
    padding-bottom: 10px;
    scrollbar-width: none;
  }
  
  .team-dot.active {
    background: cornflowerblue;
  }

  @media (max-width: 767px) {
    .team-slider-btn.left, .team-slider-btn.right {
     display: none;
    }

    .team-slider-dots {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      gap: 8px;
    }


    .team-dot {
      width: 7px;
      height: 7px;
      background: #ccc;
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      transition: 0.4s ease-in-out;
    }
    

  }