@media (max-width:767px) {
    footer {
        position: relative;
    }
   footer .container {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }
    .container .top-row {
        flex-direction: column;
        padding-bottom: 25px;
    }

    .container .top-row .logo-partner .logo {
        position: absolute;
        top: -147px;
        right: 43%;
    }

    .container .copyright div {
        display: flex;
        gap: 10px;
    }

    .footer-accordion {
        text-align: center;
        padding: 10px;
        margin-bottom: 12px;
        border-bottom: 1px solid gray;
      }

      .footer-accordion:last-child {
        border-bottom: none;
      }
      
      .footer-accordion-title {
        margin-bottom: 15px;
        font-weight: bold;
        cursor: pointer;
        /* padding: 8px 0; */
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        /* transition: 0.3s ease-in-out; */
      }
      
      .footer-submenu {
        
   
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
      }
      
      .footer-submenu.open {
        max-height: 300px; /* достатньо для відображення пунктів */
      }

      .container .bottom-row {
        flex-direction: column;
        padding: 10px 0 0 0;
      }
}

@media (max-width:600px) {

    .container .top-row .logo-partner .logo {
        position: absolute;
        top: -147px;
        right: 40%;
    }
}


@media (max-width:470px) {
    

    .container .top-row .logo-partner .logo {
        position: absolute;
        top: -147px;
        right: 37%;
    }

  
}

@media (max-width:370px) {
    

    .container .top-row .logo-partner .logo {
        position: absolute;
        top: -147px;
        right: 34%;
    }

  
}