/* .player-page-section::before {
    content: "";
   
} */

.player-page-section  {
    position: relative;
    padding-top: 60px;
    background: linear-gradient(90deg, #0B0B0C -0.05%, #6E6E78 100.03%);
    max-width: 1408px;
    margin: auto;
    height: 440px;
    margin-top: 40px;
}

.player-page-section h1 {
    font-weight: 700;
    line-height: 120%;
    font-size: clamp(24px, 8vw, 40px);
    font-family: "Arsenal";
    color: white;
    font-size: 55px;
}

.player-page-section p {
    font-family: "Arsenal";
    color: #B8BFC8;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}

.player-page-section .player-page-section-img-box {
    width: 400px;
    height: 360px;
    position: absolute;
    bottom: -220px;
    right: 140px;
}

.player-page-section .player-page-section-img-box img {
    display: block;
    width: 100%;
    height: 100%;
}

.player-page-info {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    top: -40px;
}

.player-page-info .player-page-info-first-row {
    font-size: 12px;
    opacity: 0.5;
    line-height: 30px;
}

.player-page-info .player-page-info-second-row {
    font-weight: 700;
}

@media (max-width: 767px) {
    .player-page-section .player-page-section-img-box {
        width: 70%;
        height: 240%;
        position: absolute;
        bottom: -255px;
        right: 140px;
    }

    .player-page-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-top: 0px;
    }
    .player-page-section p, .player-page-section h1 {
       text-align: center;
       
    }
}

@media (max-width: 600px) {
    .player-page-section .player-page-section-img-box {
        width: 70%;
        height: 240%;
        position: absolute;
        bottom: -255px;
        right: 15%;
    }
    .player-page-section h1 {
        font-size: 44px;
    }

    .player-page-info {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 40px 20px;
        position: relative;
        top: -40px;
    }

    .player-page-info .player-page-info-first-row {
        font-size: 12px;
        opacity: 0.5;
        line-height: 30px;
        font-size: 10px;
    }
    
    .player-page-info .player-page-info-second-row {
        font-weight: 700;
        font-size: 11px;
    }
   
}

@media (max-width: 365px) {
    .player-page-section .player-page-section-img-box {
        width: 70%;
        height: 170%;
        position: absolute;
        bottom: -233px;
        right: 15%;
    }

    .player-page-section h1 {
        font-size: 40px;
    }

    .player-page-info {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 40px 20px;
        position: relative;
        top: -40px;
    }

    .player-page-info .player-page-info-first-row {
        font-size: 12px;
        opacity: 0.5;
        line-height: 30px;
        font-size: 10px;
    }
    
    .player-page-info .player-page-info-second-row {
        font-weight: 700;
        font-size: 11px;
    }
   
}