@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  width: 100%;
  max-width: 1240px;
  position: relative;
  z-index: 1;
  margin: 0px auto;
  padding: 0px 20px
}

.main-gradient-box {
  width: 90%;
  margin: auto;
  height: 384px;
  background:  linear-gradient(90deg, #0B0B0C -0.05%, #6E6E78 100.03%);
  padding-top: 40px;
  position: relative;
}



